{% extends 'main/base.html' %}

<!- This is the home screen/about us->
{% block title %}
Welcome Screen
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="static/aboutUs.css">

<div class="about-section">
  <h1>Welcome to Couch Potato</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
  <hr>
</div>


<h2 style="text-align:center">Our Team</h2>


<!--<h3>Login or Register Into Your CouchPotato Account</h3>
      <form action="home" method="post">
        {% csrf_token %}
        Username:<input type="text" name="Username"><br>
          Password:<input type="text" name="Password"><br>
        <input type="submit">
      </form>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form|crispy}}        
        <p>Don't have an account? Create one <a href="/register">here</a></p>
        <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset Password</a></p>
        <button type="submit" class="btn btn-success">Login</button>
    </form> -->
{% endblock %}